name: build
on: [push, pull_request]
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - if: ${{ runner.os == 'Windows' }}
        run: |
          (Get-Content C:\tools\php\php.ini) -replace ';extension=ffi', 'extension=ffi' | Out-File -encoding ASCII C:\tools\php\php.ini
          (Get-Content C:\tools\php\php.ini) -replace ';ffi.enable=preload', 'ffi.enable=preload' | Out-File -encoding ASCII C:\tools\php\php.ini
      - run: composer install
      - run: composer test
      - if: ${{ runner.os == 'macOS' }}
        run: composer test -- --filter CoreML

      - if: ${{ runner.os == 'Linux' }}
        run: |
          sudo add-apt-repository ppa:ondrej/php
          sudo apt-get update
          sudo apt-get install php8.5 php8.5-mbstring php8.5-xml valgrind
          composer valgrind
